$block: '.poly-grid';
$bg-color: black;
$bg-color-list: darkgray;
$bg-color-item: pink;
$bg-color-content: lavender;
$bg-color-content_even: lavender;
$bg-color-content_odd: pink;


#{$block} {
    display: flex;
    justify-content: center;
    background-color: $bg-color;

    &_list {
        position: relative;
        margin: 0;
        padding: 0;
        display: grid;
        list-style-type: none;
        grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
        gap: 2rem 5rem;
        padding: 2rem;
        background-color: $bg-color-list;
    }

    &_item {
        position: relative;
        grid-column: 1 / span 3;
        grid-row: calc(var(--counter) + var(--counter)) / span 2;
        filter: drop-shadow(0 0 10px rgba(#444, .08));
        height: 0;
        padding-bottom: 90%;
    }

    &_content {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color : $bg-color-content;
        // downward-facing triangle
        //clip-path: polygon(0 0, 50% 100%, 100% 0);
        // rhombus
        //clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        // hexagon
        clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
        // circl
        //clip-path: circle(45%);

        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1% 3%;        
        //transition: transform .24s ease-out;
        transition: transform 2s clip-path;
    }

    &_content:hover {
        clip-path: circle(45%);
      }
}


@mixin grid-item($amount) {
    // columns
    @for $i from 1 through $amount {
        &:nth-of-type(#{$amount}n + #{$i}) {
            grid-column: #{$i + $i -1} / span 3;
            @if $i % 2 == 0 {
                grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
            }
        }
    }
    // rows
    @for $i from 1 through 20 {
        &:nth-of-type(n + #{$i * $amount + 1}) {
            --counter: #{$i + 1};
        }
    }
}


@media screen and (min-width: 1440px) {
    $amt: 5;
    $cnt: 1;
    #{$block} {
        &_list {
            --amount: #{$amt};
            --counter: #{$cnt}; 
        }
        &_item {
            @include grid-item($amt)
        }
    }
}


@media screen and (min-width: 1120px) and (max-width: 1439px) {
    $amt: 4;
    $cnt: 1;
    #{$block} {
        &_list {
            --amount: #{$amt};
            --counter: #{$cnt}; 
        }
        &_item {
            @include grid-item($amt)
		}
	}
}

@media screen and (min-width: 840px) and (max-width: 1119px) {
    $amt: 3;
    $cnt: 1;
    #{$block} {
        &_list {
            --amount: #{$amt};
            --counter: #{$cnt}; 
		}

		&_item {
			@include grid-item($amt);
		}
	}
}

@media screen and (min-width: 480px) and (max-width: 839px) {
    $amt: 2;
    $cnt: 1;
    #{$block} {
        &_list {
            --amount: #{$amt};
            --counter: #{$cnt};
		}

		&_item {
		    @include grid-item($amt);
		}
	}
}

@media screen and (max-width: 479px) {
    $amt: 1;
    $cnt: 1;
	#{$block} {
		&__list {
            --amount: #{$amt};
            --counter: #{$cnt};
        }

        &_item {
            @include grid-item($amt);
        }
	}
}